
body {
  font-family: sans-serif;
  background: white;
  margin: 0;
  padding: 2rem;
}

.container {
  background: white;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid wheat;
  border-radius: 4px;
}

